In [1]:
from textblob import TextBlob
from textblob_fr import PatternTagger, PatternAnalyzer
import mysql.connector
from mysql.connector import Error
import re

In [3]:
def create_db_connection(host, user, password, db):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host,
            user = user,
            passwd = password,
            database = db
        )
        print("MySQL Database connection established")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
    except Error as err:
        print(f"Error: '{err}'")


def execute_query_get_result(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        L = cursor.fetchall()
        connection.commit()
    except Error as err:
        print(f"Error: '{err}'")
    return L

In [9]:
connection = create_db_connection(XXX) # Connect to the Database

MySQL Database connection established

In [5]:
query = "SELECT * FROM post;"
ALL_Post_list = execute_query_get_result(connection, query)
print("Number of post saved : ", len(ALL_Post_list))

query = "SELECT * FROM comments;"
ALL_comments_list = execute_query_get_result(connection, query)
print("Number of comments saved : ", len(ALL_comments_list))

Number of post saved :  373365
Number of comments saved :  1876164

In [6]:
def clean_text(text):
    return re.sub(r'[^\w\s]', '', text)

In [8]:
for post in ALL_Post_list[175404:]:
    ins = f"INSERT INTO post_norm VALUES (\"{post[0]}\", {post[1]}, {post[2]}, {post[3]},\"{clean_text(post[4])}\", \"{clean_text(post[5])}\");"
    execute_query(connection, ins)

Error: '1062 (23000): Duplicate entry '9wdj0x' for key 'post_norm.PRIMARY''

In [10]:
for comment in ALL_comments_list:
    ins = f"INSERT INTO comments_norm VALUES (\"{comment[0]}\", {comment[1]}, \"{clean_text(comment[2])}\", \"{comment[3]}\", \"{comment[4]}\" );"
    execute_query(connection, ins)